## 할당(계속)
### tuple

(1)은 숫자로 인식된다. 
(1,2,3,) 처럼 뒤에 , 가 있어도, 1, 처럼 괄호가 없어도 튜플로 인식

In [33]:
a = (1)
b = (1,)
c = 1,
type(a), type(b), type(c)

(int, tuple, tuple)

a,b = 1,2 로 할당해주면 a, b 각각에 값이 할당된다.

In [34]:
a,b = 1,2
a, b

(1, 2)

이때, 식별자와 표현식의 개수가 맞지 않으면 오류가 생긴다. 해결법 -> a, *b로 표현
나머지 요소들을 b에 리스트로 저장한다.

In [35]:
a, *b = 1,2,3,4,5
a, b

(1, [2, 3, 4, 5])

튜플을 리스트로 바꿀 때

In [36]:
*a, = 1,2,3,4,5
type(a)

list

Swap 하는 법 a,b = b,a

In [37]:
a=1
b=2

In [38]:
a, b = b, a
a, b

(2, 1)

In [39]:
a, b = b, a+b # 피보나치 수열 만들 때 활용
a, b

(1, 3)

파이썬에서 return 값은 하나다.

In [40]:
def x() :
    return 1,2

In [41]:
x()

(1, 2)

### 리스트

리스트에서 문자를 하나하나 나누고 싶을 때

In [42]:
list('이유정')

['이', '유', '정']

리스트와 튜플은 heterogeneous. sequance type(인덱스와 슬라이싱 가능)

<< List 사용에서 주의해야 할 점 >>

(1) return 값이 없는 경우

mutable인 경우, 실행을 해도 return 값이 없는 경우가 있다. 그래도 변화했음을 주의!
immutable인 count 등은 return 값이 있다.

In [54]:
a = [1,]

In [55]:
a.append(2) # append는 값만 입력
a

[1, 2]

In [56]:
a.extend([3]) # extend는 list 형태로 입력해야 한다.
a

[1, 2, 3]

In [57]:
a.count(1)

1

mutable일 때 return값도 있고, 자기 자신도 변화시키는 경우 : ex. pop

In [59]:
a = [1,2,3,'데이터']

In [60]:
a.pop()

'데이터'

In [61]:
a

[1, 2, 3]

mutable일 때 return값은 없는데, 변화는 있는 경우 예시

In [63]:
def t(l):
    return l.append(3)

In [64]:
t(a)

In [65]:
a

[1, 2, 3, 3]

(2) 리스트가 매개변수로 쓰이는 경우

mutable이 함수의 매개변수로 쓰일 때 도 주의해야 한다.

In [76]:
def s(t, L=[]):
    L.append(t)
    return L    # return L을 쓰면 값을 보여줌

In [77]:
s(3, a)

[1, 2, 3, 3, 3, 3, 3, 3]

In [78]:
a

[1, 2, 3, 3, 3, 3, 3, 3]

In [82]:
s(1) # 실행 할 수록 하나씩 값이 증가함

[1, 1, 1, 1]

### 순서가 없는 타입

### Set 

내부적으로는 순서가 존재하지만 사람이 관리할 수는 없다.

 연산자 존재
 &, | , -, ^ (교집합, 합집합, 차집합, 대칭차집합)

In [85]:
a = {1,2,3,2,0}

In [90]:
a ^ {3,4,5}

{0, 1, 2, 4, 5}

In [94]:
a = [1,2,3]
b = [3,4,5]
c = 3

In [95]:
a + b    # extend와 비슷하다.

[1, 2, 3, 3, 4, 5]

In [96]:
a * c   # 한쪽이 숫자일 때는 * 가능

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [97]:
a = '123'
b = 'abc'
c = 3

In [103]:
a + b

'123abc'

In [106]:
'123' 'abc'  # 문자열만 + 가 없어도 가능

'123abc'

In [107]:
a * c

'123123123'

In [115]:
# 교집합 응용 - list와 tuple에서 공통적으로 쓸 수 있는 메소드를 검색하기

t = set(dir(list())) & set(dir(tuple()))

In [116]:
# 튜플만의 고유 메소드 검색
set(dir(tuple())) - t

{'__getnewargs__'}

주의 : 공집합을 만들 때

{}라고 쓰면 dictionary. set()이라고 써야한다. 아니면 {''}

In [121]:
set()

set

### dictionary

In [118]:
type({})

dict

숫자는 key가 될 수 있다.  (key가 되려면 변하면 안된다)

In [126]:
{'c':2, 'a':1, 'b':3}

{'c': 2, 'a': 1, 'b': 3}

In [127]:
from collections import OrderedDict # OrderedDict : 정렬을 해주는 Dic

In [130]:
d = {'c':2, 'a':1, 'b':3}

In [131]:
OrderedDict(sorted(d.items()))

OrderedDict([('a', 1), ('b', 3), ('c', 2)])

In [133]:
d.items()   # keys, values, items 결과값을 보면 list 표시가 있다. []

dict_items([('c', 2), ('a', 1), ('b', 3)])

In [137]:
for i in {'c':2, 'a':1, 'b':3}.keys():
    print(i)

c
a
b

In [138]:
for i in {'c':2, 'a':1, 'b':3}:   # keys()를 안써도 key만 나옴
    print(i)

c
a
b

In [139]:
3 in {1,2,3}, 3 not in {1,2,3}

(True, False)

In [141]:
3 in {'c':2, 'a':1, 'b':3}   # key만 체크한다.

False

In [143]:
'1' in '123'

True

In [146]:
1 in '123'  # homogenous 한 str은 in 앞에 같은 type(str)이 나올 것이라고 예측함 -> Type Error

TypeError: 'in <string>' requires string as left operand, not int

In [147]:
d['z'] -> KeyError

KeyError: 'z'

In [148]:
from collections import defaultdict

In [153]:
d

{'c': 2, 'a': 1, 'b': 3}

In [158]:
d.get('x',3)   # 값이 없을 때, default 기본값 (지금은 3)을 반환해준다.

3

In [159]:
d

{'c': 2, 'a': 1, 'b': 3}

### 동시 할당

In [164]:
a = b = [1,2,3]

In [165]:
a

[1, 2, 3]

In [166]:
b.append(4)

In [167]:
b

[1, 2, 3, 4]

In [168]:
a         # mutable일 때 같이 바뀜 주의

[1, 2, 3, 4]

In [170]:
import keyword

In [172]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [173]:
a = 1

In [175]:
++a         # 증가 연산자가 아니라 더하기 연산자로 인식됨

1

In [176]:
a++

SyntaxError: invalid syntax (<ipython-input-176-c828489c4eb6>, line 1)

## 정리

In [ ]:
숫자형

int : overflow 없다
float : inf, NaN도 float, 정확하지 X (부동소수점)
complex : 허수 표기 j
bool : int랑 같다

문자열

str
bichar
bichararray


list tuple range

set frozenset dictionary

In [ ]:
할당 정리 : 
    (1) a = 1
    (2) a,b = 1,2 <=> a,b = (1,2)
    (3) *a, = 1,2,3 or a,*b = 1,2,3,4,5
    (4) a = b = 1  // 동시할당
    (5) a += 1     // 증감할당
    (6) 
cf. PEP8을 참고하면 식별자 조건들이 있음.

In [ ]:
디버깅 

NameError : %whos 에 없는 식별자를 부를 때
IndexError : 인덱싱 범위를 넘어갈 때 
TypeError : 같은 타입이 아닌 메소드를 쓸 때
KeyError : 키가 없을 때
SyntexError : 문법이 틀렸다